body {
    margin: 0;
    padding: 0;
    background: url("kepek/background.png");
    font-family: Arial, sans-serif;
}

main {
    width: 80%;
    max-width: 1100px;
    margin: 40px auto;
    background: white;
    border-radius: 20px;
    padding: 40px 60px;
    box-sizing: border-box;
    border: 4px solid #000;
}

nav {
    text-align: center;
    margin-bottom: 30px;
}

nav a {
    display: inline-block;
    background: #f2c452;
    padding: 10px 20px;
    border-radius: 15px;
    margin: 0 10px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid #000;
}

.limited {
    font-size: 18px;
    margin-bottom: 20px;
}

.title {
    font-size: 45px;
    margin: 20px 0;
    line-height: 1.3;
    font-weight: bold;
}

.highlight {
    color: #9b6b25;
}

.desc {
    width: 60%;
    font-size: 16px;
    line-height: 1.5;
    display: inline-block;
    vertical-align: top;
}

.kep {
    width: 320px;
    display: inline-block;
    vertical-align: top;
    margin-left: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
    font-size: 15px;
}

table th {
    background: #8a5b22;
    padding: 12px;
    color: white;
}

table td {
    background: #f2cb5d;
    padding: 12px;
    border-bottom: 2px solid #8a5b22;
}

footer {
    width: 50%;
    margin: 30px auto 0;
    background: #8a5b22;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
}

@media (max-width: 900px) {

    .desc,
    .kep {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .kep {
        margin-top: 20px;
        margin-left: 0;
        width: 260px;
    }

    .title {
        font-size: 38px;
    }

    .limited {
        font-size: 16px;
    }
}


@media (max-width: 700px) {

    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    nav a {
        margin: 10px 5px;
        padding: 12px 18px;
    }
}

@media (max-width: 500px) {

    main {
        padding: 20px;
    }

    .title {
        font-size: 32px;
    }

    footer {
        width: 80%;
    }
}
